.react-datepicker {
    font-family: 'Lato';
    border: 2px solid #F1F5F9 !important;
    font-family: 'Lato';
    color: #434343;
}

.react-datepicker__header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom: 0 !important;
    color: #434343;
}

.datepicker__triangle::before {
    content: '';
    top: 0px !important;
    border-bottom-color: #f0f0f0;
}

.datepicker__triangle::after {
    content: '';
    top: 0px !important;
    border-bottom-color: #f0f0f0;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
    margin-left: -95px;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    margin-left: -95px;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    top: 0px !important;
    border-bottom-color: #f0f0f0;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
    /* border-bottom-color: none */
    border-top-color: #F1F5F9
}


.react-datepicker__year .react-datepicker__year-text {
    margin: 4px;
}

.react-datepicker__month-text {
    margin: 4px;
}

.react-datepicker__year-wrapper {
    min-width: 254px;
    max-width: 254px;
    justify-content: center;
}

.react-datepicker__month-wrapper {
    min-width: 204px;
    max-width: 204px;
    justify-content: center;
}

.react-datepicker__navigation {
    margin-top: 7px;
}

.react-datepicker__year-text--selected {
    background-color: #8155FF;
}

.react-datepicker__month--selected {
    background-color: #8155FF;
    color: white;
}

.react-datepicker__year-text--selected:hover {
    background-color: #8155FF;
}

.react-datepicker__month-text.react-datepicker__month--selected:hover {
    background-color: #8155FF;
}

.react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0px;
}

.react-datepicker__children-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.react-datepicker__tab-loop {
    position: absolute;
}

.react-datepicker-wrapper {
    width: 100%;
}